<h1>Role Management</h1>
<a asp-controller="Roles" asp-action="Index">Roles</a> <br/>
<a asp-controller="Roles" asp-action="Create">Create Role</a>


<h1>User Management</h1>


<h1>Group Management</h1>
<a asp-controller="Groups" asp-action="Index">Groups</a> <br/>
<a asp-controller="Groups" asp-action="Create">Add Group</a> <br/>