<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light">
    
  
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">

    <title>@ViewData["Title"] - Kaching</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kaching.styles.css" asp-append-version="true" />

</head>
<body>
<section class="ui container">
    <nav class="ui stackable labeled icon menu">
            <a class="item" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="home icon"></i>
                Home
            </a>
            <a class="item" asp-area="" asp-controller="Expenses" asp-action="Index">
                <i class="money bill alternate outline icon"></i>
                Expenses
            </a>
            <a class="item" asp-area="" asp-controller="Expenses" asp-action="Create">
                <i class="plus square outline icon"></i>
                New Expense
            </a>
            <div class="ui stackable labeled icon right menu">
                <partial name="_LoginPartial"/>
            </div>
        </nav>
<div class="ui segment">
    @RenderBody()
</div>
</section>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
