@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="ui form">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="ui red text"></div>
            <div class="field">
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email"/>
                <span asp-validation-for="Input.Email" class="ui red text"></span>
            </div>
            <div class="field">
                <input asp-for="Input.UserName" autocomplete="username" aria-required="true" placeholder="Username"/>
                <span asp-validation-for="Input.UserName" class="ui red text"></span>
            </div>
            <div class="field">
                <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="Password"/>
                <span asp-validation-for="Input.Password" class="ui red text"></span>
            </div>
            <div class="field">
                <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Repeat new password"/>
                <span asp-validation-for="Input.ConfirmPassword" class="ui red text"></span>
            </div>
            <button id="registerSubmit" type="submit" class="ui button">Register</button>
        </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
