@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>

<form method="post" class="ui form">
    <div class="field six wide">
    <div asp-validation-summary="All" class="ui red text"></div>
    <div class="form-floating">
        <input asp-for="Input.Email" aria-required="true"/>
        <span asp-validation-for="Input.Email" class="ui red text"></span>
    </div>
    <button type="submit" class="ui button">Resend</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
