@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Recent updates</h1>
    
    
    <div class="ui feed">
        <div class="event">
            <div class="label">
                <img src="https://m.media-amazon.com/images/I/71iFekvN5hS._AC_SL1500_.jpg">
            </div>
            <div class="content">
                <div class="date">
                    3 days ago
                </div>
                <div class="summary">
                    Helen Troy added <a>2 photos</a>
                </div>
                <div class="extra images">
                    <a><img src="https://m.media-amazon.com/images/I/71iFekvN5hS._AC_SL1500_.jpg"></a>
                    <a><img src="https://m.media-amazon.com/images/I/71iFekvN5hS._AC_SL1500_.jpg"></a>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="label">
                <img src="https://m.media-amazon.com/images/I/71iFekvN5hS._AC_SL1500_.jpg">
            </div>
            <div class="content">
                <div class="date">
                    3 days ago
                </div>
                <div class="summary">
                    Laura Faucet added a new <a>expense</a>
                </div>
                <div class="extra text">
                    <ul class="ui list">
                        <li>Weekly expense of € 10 on Internet.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <h1 class="display-4">Statistics</h1>
    
    <div class="ui statistic">
        <div class="value">
            2,204
        </div>
        <div class="label">
            Expenses added this month
        </div>
    </div>
    <div class="ui statistic">
        <div class="value">
            2,204
        </div>
        <div class="label">
            Expenses added last month
        </div>
    </div>

</div>


