
@using Microsoft.VisualBasic
@model Kaching.ViewModels.EEventVM

@*
  
*@

<div class="row">
    <div class="ui form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ExpenseId" />
            <input type="hidden" asp-for="Expense.CreatorId" />
            <input type="hidden" asp-for="Expense.Created" />

            <div class="field">
                <label class="ui label">Price</label>
                <div class="ui right labeled input">
                    <label for="amount" class="ui label">€</label>
                    <input asp-for="Expense.Price" placeholder="Price" disabled>
                </div>
            </div>
            <div class="field">
                <label class="ui label">Category</label>
                <input asp-for="Expense.Category" disabled>
            </div>
            <div class="field">
                <label class="ui label">Payment Status</label>
                <input asp-for="PaymentStatus" disabled>
            </div>
            <div class="field">
                <label class="ui label">Paid by</label>
                <input asp-for="Buyer.ConnectedUserName" placeholder="Buyer.ConnectedUserName" disabled>
            </div>  
            <div class="field">
                <label class="ui label">Frequency</label>
                <input asp-for="Frequency" disabled>
            </div> 
            <div class="field">
                <label class="ui label">Frequency</label>
                <input asp-for="Frequency" disabled>
            </div>
            <div class="field">
                <label class="ui label">Payment Date</label>
                <input asp-for="PaymentDate" disabled>
            </div>
            <div class="field">
                <label class="ui label">Description <i>: Not Required</i> </label>
                <textarea asp-for="Expense.Description" disabled> </textarea>
            </div>
        </div>
    </div>
    <div>
        <a class="ui icon button" asp-action="Delete" asp-route-id="@Model.EEventId">
            <i class="ui button red">
                Delete
            </i>
        </a>
        @if (Model.Frequency != Frequency.OneTime)
        {
            <a class="ui icon button" asp-action="DeleteRecurring" asp-route-id="@Model.EEventId">
                <i class="ui button red">
                    Delete all recurring events
                </i>
            </a>
            <a class="ui icon button" asp-action="EditRecurring" asp-route-id="@Model.EEventId">
                <i class="ui button red">
                    EditRecurring
                </i>
            </a>
        }
        <a class="ui icon button" asp-action="Edit" asp-route-id="@Model.EEventId">
            <i class="ui button">
                Edit
            </i>
        </a>
    </div>