@using System.Globalization
@model Kaching.ViewModels.ExpenseIndexViewModel

@{
    var currentMonthNumber = Model.MonthNumber;
    var currentMonthName = CultureInfo.CurrentCulture.DateTimeFormat.MonthNames[currentMonthNumber-1];
}


<div class="ui selection dropdown" id="monthdropdown">
    <i class="dropdown icon"></i>
    @currentMonthName
<div class="scrollhint menu">

    @for (int i = 0; i <= 11; i++)
    {
        var monthName = CultureInfo.CurrentCulture.DateTimeFormat.MonthNames[i];
        var monthNumber = i + 1;

        @if (currentMonthNumber == monthNumber)
        {
            <a class="active item" href="/"> <strong>@monthName</strong></a>
        }
        else
        {
            <a class="item" href="/Expenses/@monthName">@monthName</a>
        }
    }
</div>
</div>
