@model Kaching.ViewModels.ExpenseEventCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add expense</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="ui form">
            <div asp-validation-summary="ModelOnly" style="color: red"></div>

            <div class="ui two item menu">
                <a class="item active">
                    One-Time expense
                </a>
                <a class="item">
                    Recurring expense
                </a>
            </div>
            
            

            <div class="ui segment">
                <div class="ui four wide column aligned center aligned grid">
                    <div class="column">
                        <div class="field">
                            <div class="ui right labeled input">
                                <label for="amount" class="ui label">€</label>
                                <input asp-for="Price" placeholder="Price">
                                <div class="ui basic label">.00</div>
                            </div>
                            <span asp-validation-for="Price" style="color: red"></span>
                        </div>

                        <div class="field">
                            <select asp-for="Category" id="categorydropdown" class="ui selection dropdown" asp-items="Html.GetEnumSelectList<Category>()"></select>
                        </div>
                        <div class="field">
                            <select asp-for="PaymentStatus" id="paymentstatusdropdown" class="ui selection dropdown" asp-items="Html.GetEnumSelectList<PaymentStatus>()">
                            </select>
                        </div>
                        <div class="field">
                            <select asp-for="BuyerId" id="buyerdropdown" class="ui selection dropdown" asp-items="ViewBag.PersonId"></select>
                            <a class="ui tag label">
                                Responsible
                            </a>
                        </div>
                        <div class="field">
                            <div class="ui calendar" id="date_calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input asp-for="StartDate" type="text" placeholder="Payment Date">
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui label">
                                Optional: Description
                            </div>
                            <textarea asp-for="Description" rows="3" placeholder="Comments..."> </textarea>
                            <span asp-validation-for="Description" style="color: red"></span>
                        </div>
                        <div class="field">
                            <input type="submit" value="Create" class="ui button"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
