@model Kaching.ViewModels.ExpenseViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Expense</h4>
    <hr />
    <partial name="/Views/Expenses/_ExpenseInfo.cshtml" />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ExpenseId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> <br />
        <a asp-action="Index">Back to List</a>
    </form>
</div>
