@model Kaching.ViewModels.ExpenseVm

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Expense</h4>
    <hr />
  <partial name="/Views/Expenses/_ExpenseInfo.cshtml" />
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>