@model Kaching.ViewModels.ExpenseVm

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Expense</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="ui form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExpenseId"/>
            <div class="ui text container">
                <div class="field">
                    <label class="ui label">Price</label>
                    <div class="ui left labeled input">
                        <label for="Price" class="ui label">€</label>
                        <input asp-for="Price" placeholder="Price">
                    </div>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="field">
                    <label class="ui label">Transfer Status</label>
                    <select asp-for="PaymentType" asp-items="Html.GetEnumSelectList<PaymentType>()">
                    </select>
                </div>
                <div class="field">
                    <label class="ui label">Responsible</label>
                    <select asp-for="ResponsibleId" asp-items="ViewBag.PersonId"></select>
                </div>
                <div class="field">
                    <label class="ui label">Description <i>: Not Required</i> </label>
                    <textarea asp-for="Comment"> </textarea>
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                @if (Model.Frequency != Frequency.Once)
                {
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="recurring">
                            <label>Edit all upcoming instances of this expense</label>
                        </div>
                    </div>
                }
                <input type="submit" value="Edit" class="ui positive button"/> <br/>
            </div>
        </form>
    </div>
    <div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}