@model Kaching.ViewModels.EEventVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>


<h4>Expense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="ui form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ExpenseId" />
            <input type="hidden" asp-for="Expense.CreatorId" />
            <input type="hidden" asp-for="Expense.Created" />

            <div class="field">
                <label class="ui label">Price</label>
                <div class="ui right labeled input">
                    <label for="amount" class="ui label">€</label>
                    <input asp-for="Expense.Price" placeholder="Price">
                    <div class="ui basic label">.00</div>
                </div>
                <span asp-validation-for="Expense.Price" class="text-danger"></span>
            </div>
            <div class="field">
                <label class="ui label">Category</label>
                <select asp-for="Expense.Category" asp-items="Html.GetEnumSelectList<Category>()"></select>
            </div>
            <div class="field">
                <label class="ui label">Transfer Status</label>
                <select asp-for="PaymentStatus" asp-items="Html.GetEnumSelectList<PaymentStatus>()">
                </select>
            </div>
            <div class="field">
                <label class="ui label">Paid by</label>
                <select asp-for="BuyerId" asp-items="ViewBag.PersonId"></select>
            </div>            
            <div class="field">
                <label class="ui label">Description <i>: Not Required</i> </label>
                <textarea asp-for="Expense.Description"> </textarea>
                <span asp-validation-for="Expense.Description" class="text-danger"></span>
            </div>
        </form>
    </div>
    <div>
        <form asp-action="Edit">
            <input type="hidden" asp-for="EEventId" />
            <input type="submit" value="Edit" class="ui positive button" /> <br />
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
