@model List<Kaching.ViewModels.ExpensePersonalVm>

@{  
    ViewData["Title"] = "Personal Expenses";  
}  
  
<h1>Personal Expenses due this month</h1>  
<a asp-action="Create">Create</a>  

<table class="ui celled unstackable table">
    <thead>
    <tr><th></th>
        <th>Category</th>
        <th>Price</th>
    </tr></thead>
    <tbody>
    @foreach (var expense in Model)
    {
        <tr>  
            <td>@expense.Category</td>  
            <td>@expense.Price</td>  
        </tr>  
    }
    </tbody>
</table>