


<table class="ui table">
    <tbody>
    
    <tr>
        <td rowspan="2">January-22</td>
    </tr>
    <tr>
        <td class="rowspanned"></td>
           <td>Name Nameson</td>
        <td>Naomi Namesy</td>
    </tr>
    <tr>
         <td>Naomi Namesy</td>
    </tr>
    </tbody></table>


<table class="ui table">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <!-- This cell will take up space
        in 3 rows -->
        <th rowspan="3">GeeksforGeeks</th>
    </tr>
    <tr>
        <td>Arun</td>
        <td>24</td>
    </tr>
    <tr>
        <td>Priya</td>
        <td>25</td>
    </tr>
</table>