@model Kaching.ViewModels.SettlementVm

@{  
    ViewData["Title"] = "Index";
}  
  
<h1>Settlement</h1>

@foreach (var person in Model.GroupMembers)
{
    @person.UserName;
    <p>Expenses:</p> @person.Expenses.Sum(x => x.Price);
    <p>Transfers:</p> @person.Transfers.Sum(x => x.Amount)

}
